* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.conatiner {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1440px;
}
.phone {
  padding: 250px 250px;
  background-image: url(../picture/walpaper.jpg);

  width: 600px;
  height: 1200px;
  border: 25px;
  border-radius: 20px;
  border-color: black;

  .ramka {
    .apps {
      .imag {
        width: 100px;
        height: 100px;
      }
    }
  }
}
